.form-container {
    width: auto;
}

form {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
   flex-wrap: wrap;
    align-items: start;
    padding: 10px;
    margin-top: 30px;
}


 button {
    width: 100px
 }

 label{
    margin-bottom: 20px;
    font-size: 18px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
 }

 input {
    margin-left: 20px;
 }

