nav {
    background-color: #3d3d42;
    position:fixed;
    inset: 0;
    height: 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Oswald";
    
}

a:link {
    color:white;
    text-decoration: none;
    font-size: 18px;
    font-family: "Oswald";
    padding-left: 14px;
}

a:visited {
    color: white;
}

.navTitle {
    color: white;
    font-size: 30px;
    padding-right: 30px;
    font-weight: 800;
}

a:hover {
    color: #4a8cd8;
}

a:visited:hover {
    color: #4a8cd8;
}

a.logout {
    cursor: pointer;
    padding-left: 30px;
    font-size: 18px;
    color: white;
}
a.logout:hover {
    color: #4a8cd8;
}